@import "../variables";

.card {
  background: $white;
  border-radius: 5px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  text-align: center;

  &__image {
    margin: 0 auto;
    width: 280px;
  }

  &__body {
    margin-top: 1em;
    font-size: 1.15em;
  }

  &__label {
    margin: 0 auto 0.5em;
    text-align: center;
    width: 80%;
  }

  &__cost {
    color: $orange;
    font-weight: bold;
    margin-bottom: 1em;
  }

  &__button {
    margin-bottom: 2.5em;
    width: 60%;
  }
}